<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 order-lg-7">
					
					<div class="main-footer-nav-wrapper">
						<div class="row">
							<div class="col-sm-6">
								<ul class="list-unstyled main-footer-nav">
									<li ><a [routerLink]="['/about']">About</a></li>
									<li ><a [routerLink]="['/boards']">Boards </a></li>
									<li ><a [routerLink]="['/accessories']">Accessories</a></li>
									<li ><a [routerLink]="['/blog']">Blog</a></li>
								</ul>
							</div>
							<div class="col-sm-6">
								<ul class="list-unstyled main-footer-nav">
									<li ><a [routerLink]="['/technology']">Technology</a></li>
									<li ><a [routerLink]="['/team']">Team</a></li>
									<li ><a [routerLink]="['/dealers']">Dealers</a></li>
									<li ><a [routerLink]="['/contact-us']">Contact us</a></li>
								</ul>
							</div>
						</div>
						<!--  <ul class="list-inline main-footer-nav">
							<li class="list-inline-item"><a [routerLink]="['/about']">About</a></li>
							<li class="list-inline-item"><a [routerLink]="['/technology']">Technology</a></li>
							<li class="list-inline-item"><a [routerLink]="['/boards']">Boards</a></li>
							<li class="list-inline-item"><a [routerLink]="['/team']">Team</a></li>
							<li class="list-inline-item"><a [routerLink]="['/accessories']">Accessories</a></li>
							<li class="list-inline-item"><a [routerLink]="['/dealers']">Dealers</a></li>
							<li class="list-inline-item"><a [routerLink]="['/blog']">Blog</a></li>
							<li class="list-inline-item"><a [routerLink]="['/contact-us']">Contact us</a></li>
						</ul>-->

						<form action="http://eepurl.com/dov9Pn" class="form-subscriber form-inline">
							<h4>Subscribe to out newsletter</h4>
					  
							<div class="form-group">
							 	<label for="emailField" class="sr-only">Your email</label>
						    <input type="email" class="form-control" id="emailField" placeholder="Your email">
						  	<button><span class="sr-only">Subscribe</span></button>
						  </div>
						  	
							
						</form>
					</div> <!-- /.main-footer-menu -->

				</div> <!-- /.col-lg-5 order-lg-7 -->

				<div class="col-lg-7 order-lg-1">
					<div class="rights">&copy; 2017 Surfers Co <strong>&bull;</strong> Design by <a href="https://dribbble.com/lucaalco">@lucaalco</a></div>
				</div> <!-- /.col-lg-7 order-lg-7 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer> <!-- /.main-footer -->