<div class="boards-wrapper" >
						<h2 #sectionTitle>Boards</h2>
						<div class="boards-carousel" #boardsCarousel>
							<div class="boards-nav">
								<div class="boards-prev" [class.disabled]="prevDisabled" (click)="prevSlide()"></div>
								<div class="boards-next" [class.disabled]="nextDisabled" (click)="nextSlide()"></div>
							</div>
							<div class="boards-carousel-stage"  [ngSwitch]="currentBoardId" [ngStyle]="{'height': parentHeight + 'px', 'min-height': sectionTitle.offsetWidth + 'px'}">
								<ng-container *ngFor="let boardItem of boardsData">
									<div class="boards-carousel-item-wrapper" [@carouselState]="carouselSliderState" *ngSwitchCase="boardItem.id">
										
										<div class="row" [surfCurrentHeight]="boardItem.id == currentBoardId && viewReady" (surfDefineHeight)="parentHeight=$event">
										<div class="col-lg-6 order-1 order-lg-2">
											
											<div class="board-description-wrapper ">
												<h4>{{boardItem.title}}</h4>
												<div class="voting-stars-wrapper d-flex align-items-center">
													<span class="list-inline voting-stars">
														<span class="voting-stars-chosen" [style.width]="boardItem.votingStarsRange"></span>
														<span class="voting-stars-shell"></span>
													</span>
													<span>({{boardItem.votingStarsNumber}})</span>
													<time class="ml-auto">{{boardItem.date | date:"MM/dd"}}</time>
												</div> <!-- /.voting-stars-wrapper d-flex justify-content-between -->
												<div class="board-description">

													<ngb-tabset>
														<ngb-tab title="Description">
															<ng-template ngbTabContent>
													      <div>{{boardItem.description}}</div>
													    </ng-template>
														</ngb-tab>
														<ngb-tab title="Features">
															<ng-template ngbTabContent>
													      <div>{{boardItem.features}}</div>
													    </ng-template>
														</ngb-tab>
														
														<ngb-tab title="Dimensions">
															<ng-template ngbTabContent>
													      <table class="table table-striped table-hover" id="surfboard-dimensions-table" >
															   <tbody>
															      <tr style="opacity: 1;">
															         <th>size</th>
															         <th>width</th>
															         <th>thickness</th>
															         <th>volume</th>
															      </tr>
															      <tr style="opacity: 1;" *ngFor="let boardDimention of boardItem.dimentions">
															         <td>{{boardDimention.size}}</td>
															         <td>{{boardDimention.width}}</td>
															         <td>{{boardDimention.thickness}}</td>
															         <td>{{boardDimention.volume}}</td>
															      </tr>
															      
															   	</tbody>
																</table>
													    </ng-template>
														</ngb-tab>
													</ngb-tabset>

													<strong class="price">{{boardItem.price | currency:'USD'}}</strong>
													<a [routerLink]="['/boards', boardItem.id]" class="btn btn-main btn-small" >Buy now</a>

												</div> <!-- /.board-description -->
												<p><a [routerLink]="['/boards']" class="classic-a">View all boards</a></p>
											</div> <!-- /.board-description-wrapper -->
										</div><!-- /.col-lg-6  order-1 order-lg-2 -->

										<div class="col-lg-6 order-2 order-lg-1">
											
											<div class="boards-images-wrapper">
												<ngb-tabset-grided [justify]="currentJustify" [orientation]="currentOrientation">
													<ng-container *ngFor="let boardTab of boardItem.images">
														<ngb-tab>
															<ng-template ngbTabTitle>
																<img [src]="boardTab.smallImage" [alt]="boardTab.alt">
															</ng-template>
															<ng-template ngbTabContent>
																<img [src]="boardTab.bigImage" [alt]="boardTab.alt">
															</ng-template>
														</ngb-tab>
													</ng-container>

												</ngb-tabset-grided>

											</div><!-- /.boards-images-wrapper -->

										</div> <!-- /.col-lg-6 order-2 order-lg-1 -->
									</div><!-- /.row --> 
									</div><!-- /.carousel-item-wrapper .row --> 
								</ng-container>
							</div> <!-- /.boards-carousel-stage -->

						</div> <!-- /.boards-carousel -->
					</div> <!-- /.boards-wrapper -->
					<hr>