<main class="home-page common-page">
	<div class="bg-page" style="background-image: url(/assets/img/surfing.png)"></div>
	<div class="top-panel-header-description">
		<h1>Ride every wave as if it's your last</h1>
		<p>We love the motion of the ocean</p>
	</div> <!-- /.top-panel-header-description -->

	<surf-section-boards [@CollapseInOut]="'in'" *ngIf="boardsData" [boardsData]="boardsData"></surf-section-boards>
	<surf-section-about-us></surf-section-about-us>
	<surf-section-team [@CollapseInOut]="'in'" *ngIf="teamData" [teamData]="teamData"></surf-section-team>
	<surf-section-blog [@CollapseInOut]="'in'" *ngIf="postData" [postData]="postData"></surf-section-blog>
	<surf-section-soc-net></surf-section-soc-net>
	
</main> 